.product-row-right-content{
    padding-left: 15px;
}

.product-name{
    position: relative;
}

.product-name>span{
    font-size: 2em;
    font-weight: bold;
}

.product-sku{
    font-size: 0.8em;
    padding: 5px 0;
}

.product-department{
    font-size: 0.8em;
    padding: 5px 0;
}

.product-price{
    background-color: rgb(28, 184, 65);
    position: absolute;
    right: 0;
    top: 0;
}
.product-image{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.selected>div.product-row{
    background-color: #ff0;
}
.product-row{
    margin: 10px 0;
    border: solid 1px #ccc;
    height: 100px;
    background-color: rgba(255, 255, 255,0.5);
}