$height: 100px;
$backgroundColor: #f00;
$color: #fff;

.header{
	height: $height;
	color: $color;
	background: $backgroundColor url('./images/001.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	line-height: $height;
}