.custom-tree-node{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 8px;
    .car-img{
        margin-right: 8px;
    }
}
.label-is-required{
    color: red;
}
.table-row-style{
    height: 48px;
    color: #495060;
    background-color: #fff;
    td{
        padding: 2px 0;
    }
}
.table-header-row-style{
    height: 40px;
    color: #495060;
    background-color: #f8f8f9 !important;
}
.el-table th, .el-table tr{
    background-color: transparent;
}
.delete-icon{
    font-size: 16px;
    font-weight: bold;
    color: #f56c6c;
    cursor: pointer;
}
.el-table{
    border: solid 1px #dddee1;
}
.edit-icon{
    font-size: 16px;
    font-weight: bold;
    color: #409eff;
    cursor: pointer;
}
.el-pagination{
    height: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    padding: 0;
    .el-pager{
        display: flex;
        align-items: center;
    }
}
.el-popover{
    padding: 0;
    min-width: 100px;
    max-height: 220px;
    overflow-y: auto;
    overflow-x: auto;
}
.el-dialog__body{padding: 10px 20px;}

.el-dialog{
    min-width: 800px;
    max-width: 800px;
}
.el-dialog__wrapper{
    overflow: hidden;
}
.el-collapse-item__header{
    height: 30px;
    line-height: 30px;
    background-color: #DCDFE6;
    padding: 0 10px;
}
.el-collapse-item__arrow{
    line-height: 30px;
}
.el-collapse-item__content{
    padding-top: 2px;
    padding-bottom: 0px;
}

