html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    overflow: hidden;
}