html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif, Helvetica, PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    overflow: hidden;
}