body{
    background: rosybrown;
}

form {
    background: #ddd;
    padding: 10px;
    border: solid 1px #888;
}

form button[type='submit']{
    float: right;
}

.item-left, .item-right{
    height: 80px;
}

.item-left{
    background: #bbb;
}

.item-left>div{
    text-align: center;
}
.item-left>div>div{
    margin: 20px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}

.item-right{
    background: #ddd;
    position: relative;
}

article-item>div{
    margin: 20px 0;
}
.item-right>div{
    padding: 10px;
}

.item-right>div div:nth-child(2){
    color: #aaa;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.article-item-content{
    border: solid 1px #888;
}

.closeBtn{
    position: absolute;
    right: 0;
    top: 0;
}

.upvote, .downvote{
    cursor: pointer;
    padding: 5px;
}
.upvote:hover,
.downvote:hover{
    box-shadow: 0px 0px 20px #f800f8 inset;
}